[Desktop Entry]
Type=Application
Version=1.0
Name=Intel Graphics Monitor
GenericName=Graphic Usage Viewer
Comment=Show Intel Graphics Usage
Icon=~/.local/share/icons/intel.svg
Exec=konsole -e intel_gpu_top
#Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
